body {
    margin: 0;
}

// 修复 Element Plus 弹窗导致的滚动问题
body.el-popup-parent--hidden {
    overflow-y: auto !important;
    width: 100% !important;
    padding-right: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
header {
    margin: 0;
    padding: 0;
}

ul,
figure {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.area-main {
    width: 100%;
    font-family: var(--font-family-secondary), serif;

    .banner {
        margin: 0 auto;
        width: 98vw;
    }
}
